.addresses{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:40px
}
.address{
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    width: 100%;
    height:200px;
    background-image: linear-gradient(lightgrey, grey);
}
.address > .line{
    position: relative;
    top:35%;
    left:20%;
}

@media only screen and (max-width: 768px) {
    .addresses{
        flex-direction: column;
    }
}