<article class="product w-100">
    <div class="status text-center">
        In-Stock
    </div>
    <div class="img">
        <img src="https://livedemo00.template-help.com/wt_prod-10492/theme/images/product-1-220x160.png" alt="">
    </div>
    <div class="name text-center">
        Bananas
    </div>
    <div class="d-flex justify-content-around">
        <div class="prices d-flex justify-content-around align-items-center">
            <span class="mp price text-danger mr-4">$20</span><span class="price text-success">$18</span>
        </div>
        <div class="buy d-flex justify-content-around align-items-center">
            <p class="product-lnk bg-info text-light mr-4 mt-2"><i class="fa fa-eye mt-2"></i></p><p class="product-lnk bg-danger text-light mt-2"><i class="fa fa-shopping-cart  mt-2"></i></p>
        </div>
    </div>
</article>
